/* *************************  */
/*  FOOTER Bootstrap          */
/* *************************  */


/* Estilo headers del footer */

footer .row h5 {
  color:$color-brown;
  font-family: $footer-font;  
}

footer {
  a {
    font-family: $footer-font;
  }
  small {
    font-family: $footer-font;
  }
  /* Estilo iconos social media Footer*/
  .footer_social_media{
    padding: 14px 15px;
    background-color:none;
    a {
      padding: 10px;
      color:black;
    }
  }
}

/* $color-fire-red: rgba(208, 33, 20, 1);
$color-bronze: rgba(204, 126, 32, 1);
$color-burnt-umber: rgba(115, 56, 36, 1);
$color-brown: rgba(152, 44, 3, 1);
$color-black: rgba(3, 10, 2, 1); */

