// Variables fuentes tipograficas: 
$nav-font: "Montserrat", sans-serif;
$footer-font: "Montserrat", sans-serif;
$title-font: "Montserrat", sans-serif;
$body-font: "Montserrat", sans-serif;

// Variables paleta de colores:

$color-fire-red: rgba(208, 33, 20, 1);
$color-bronze: rgba(204, 126, 32, 1);
$color-burnt-umber: rgba(115, 56, 36, 1);
$color-brown: rgba(152, 44, 3, 1);
$color-black: rgba(3, 10, 2, 1);



///* ************************** */
///* ***** PALETA DE COLORES*** */
///* ************************** */

///* Color palette */

// SCSS RGB
// /* $fire-engine-red: rgba(208, 33, 20, 1);
//$bronze: rgba(204, 126, 32, 1);
//$burnt-umber: rgba(115, 56, 36, 1);
//$brown: rgba(152, 44, 3, 1);
//$black: rgba(3, 10, 2, 1); */

///* SCSS Gradient */
///* $gradient-top: linear-gradient(0deg, #D02114ff, #CC7E20ff, #733824ff, #982C03ff, #030A02ff);
//$gradient-right: linear-gradient(90deg, #D02114ff, #CC7E20ff, #733824ff, #982C03ff, #030A02ff);
//$gradient-bottom: linear-gradient(180deg, #D02114ff, #CC7E20ff, #733824ff, #982C03ff, #030A02ff);
//$gradient-left: linear-gradient(270deg, #D02114ff, #CC7E20ff, #733824ff, #982C03ff, #030A02ff);
//$gradient-top-right: linear-gradient(45deg, #D02114ff, #CC7E20ff, #733824ff, #982C03ff, #030A02ff);
//$gradient-bottom-right: linear-gradient(135deg, #D02114ff, #CC7E20ff, #733824ff, #982C03ff, #030A02ff);
//$gradient-top-left: linear-gradient(225deg, #D02114ff, #CC7E20ff, #733824ff, #982C03ff, #030A02ff);
//$gradient-bottom-left: linear-gradient(315deg, #D02114ff, #CC7E20ff, #733824ff, #982C03ff, #030A02ff);
//$gradient-radial: radial-gradient(#D02114ff, #CC7E20ff, #733824ff, #982C03ff, #030A02ff);
 //*/